*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roboto, "Segoe UI", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #7f746b;
}

ul {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  padding: 1rem 0;
}

.hero {
  max-height: 400px;
  padding: 1rem 0;
  background-size: cover;
  background-position: 50% center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.hero__search {
  margin: 10% 5%;
  max-width: 250px;
  position: relative;
}
.hero__search--logo img {
  width: 100%;
}
.hero__search--input {
  background-color: #fff;
  margin: 1rem auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.hero__search--input input {
  appearance: none;
  font-size: 2rem;
  padding: 0.7rem 1rem;
  width: 100%;
  border: none;
}
.hero__search--input img {
  height: 90%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hero__search ::-webkit-scrollbar {
  display: none;
}
.hero__search--results {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  max-height: 120px;
  overflow: auto;
}
.hero__search--results li {
  padding: 0.3rem 0.5rem;
}
.hero__search--results li a {
  color: #291507;
}
.hero__search--results li:hover {
  background-color: #ccc;
}

.discover {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #e3e1dc;
  color: #291507;
  padding: 2rem 3rem;
}
.discover__title {
  display: flex;
  justify-content: space-between;
}
.discover__title > * {
  flex: 1;
}
.discover__title .link-cta {
  align-self: flex-end;
  text-align: end;
}
.discover__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.discover__items > * {
  flex: 20% 1;
  max-width: 21%;
  font-weight: bold;
  color: #291507;
}
@media only screen and (max-width: 800px) {
  .discover__items > * {
    flex: 45% 1;
    max-width: 45%;
    margin-bottom: 2rem;
  }
}
.discover-image {
  margin-bottom: 1rem;
  overflow: hidden;
  height: 200px;
  border-radius: 25px;
}
.discover-image:hover {
  opacity: 0.7;
}
.discover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 600px) {
  .discover .discover__title {
    flex-direction: column;
    margin: 2rem 0;
  }
  .discover .discover__title h3 {
    font-size: 3rem;
  }
  .discover .discover__items {
    flex-direction: column;
  }
  .discover .discover__items > * {
    flex: 1 90%;
    max-width: 95%;
    margin-bottom: 3rem;
  }
}

.homeinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.homeinfo > * {
  flex: 1;
}
.homeinfo__content {
  padding: 0 2rem;
}
.homeinfo__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  padding-top: 3rem;
}
.homeinfo__images .image1 {
  grid-area: 1/1/2/3;
}
.homeinfo__images .image2 {
  grid-area: 1/3/3/4;
}
.homeinfo__images .image3 {
  grid-area: 2/2/4/3;
  margin-top: -1rem;
}
.homeinfo-image {
  padding-left: 1rem;
}
.homeinfo-image img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .homeinfo {
    flex-direction: column;
  }
  .homeinfo .title {
    font-size: 3rem;
  }
}
.catinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 1rem;
}
.catinfo__image {
  width: 40%;
  padding: 0 5rem;
}
.catinfo__image img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.catinfo__details {
  width: 60%;
}
.catinfo__details > * {
  margin-bottom: 2rem;
}
.catinfo img {
  width: 100%;
  border-radius: 25px;
}
.catinfo__properties {
  width: 85%;
}
.catinfo__properties li {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.catinfo__properties .list-flex-start li {
  justify-content: flex-start;
}
.catinfo__properties .list-flex-start li p {
  margin-left: 2rem;
}
.catinfo .rating-item {
  height: 1.3rem;
  width: 6rem;
  margin-left: 1rem;
  border-radius: 10px;
  display: inline-block;
}
.catinfo .rating-item.alive {
  background-color: #544439;
}
.catinfo .rating-item.ghost {
  background-color: #e0e0e0;
}

@media only screen and (max-width: 800px) {
  .catinfo {
    flex-direction: column;
  }
  .catinfo__image {
    flex-basis: 60%;
    padding: 0;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .catinfo {
    margin: 0;
  }
  .catinfo__image {
    flex-basis: 90%;
  }
  .catinfo__details {
    flex-basis: 90%;
  }
  .catinfo .rating-item {
    width: 4rem;
  }
  .catinfo__properties li {
    flex-direction: column;
  }
}
.popular {
  margin: 3rem;
}
.popular__results .popinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 6rem 0;
}
.popular__results .popinfo__image {
  flex-basis: 20%;
  overflow: hidden;
  margin-right: auto;
}
.popular__results .popinfo__image img {
  border-radius: 20px;
  width: 100%;
}
.popular__results .popinfo__details {
  flex-basis: 75%;
}
@media only screen and (max-width: 1200px) {
  .popular .popinfo {
    margin: 2rem 0;
  }
  .popular .popinfo__image {
    flex-basis: 25%;
  }
  .popular .popinfo__details {
    flex-basis: 65%;
  }
  .popular .popinfo__details h3 {
    font-size: 3rem;
  }
  .popular .popinfo__details p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .popular {
    margin: 2rem 0;
  }
  .popular h1 {
    font-size: 2rem;
  }
  .popinfo {
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 0;
  }
  .popinfo__image {
    max-width: 90%;
    margin: 1rem auto;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  background-color: #000;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 2rem 4rem;
}

.inverted {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.white {
  color: white;
}

.line {
  background-color: #291507;
  width: 60px;
  height: 4px;
  border-radius: 10px;
  margin: 1rem 0;
}

.title {
  color: #291507;
  margin-bottom: 1rem;
}

.title-small {
  font-size: 2rem;
}

.title-medium {
  font-size: 3rem;
  font-weight: bold;
}

.title-big {
  font-size: 4rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.link-cta {
  color: #7f746b;
  font-weight: bold;
  cursor: pointer;
}
.link-cta span {
  font-size: 2.3rem;
}

.image-small img {
  width: 180px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  flex: none;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.5);
  border-right: 1.1em solid rgba(255, 255, 255, 0.5);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.5);
  border-left: 1.1em solid #291507;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.errorpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: orangered;
}
.errorpage a {
  color: azure;
  font-size: 2rem;
}

/*# sourceMappingURL=index.css.map */
